go 1.23.0

toolchain go1.23.6

use (
	.
	./internal/example_cli
	./internal/example_export
	./internal/example_logrus
	./internal/example_print
	./internal/example_sinit
	./internal/example_splunk
	./internal/example_web
)
